#div1 {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    color: white;
    font-family: sans-serif;
    font-weight: 400;
}

#ul1 {
    list-style: none;
    display: flex;
}


.li1 {
    padding-left: 20px;
}

body {
    background-image: url(camp.webp);
    background-size: 1960px 1480px;
    background-repeat: no-repeat;
    background-position: center;
    font-family: sans-serif;
}

#list3 {
    color: rgb(182, 235, 226);
    transition: 0.5s;
}

#list3:hover {
    color: rgb(128, 128, 219);
    cursor: pointer;
}



#list2 {
    color: rgb(255, 255, 255);
    transition: 0.5s;
}

#list2:hover {
    color: rgb(128, 128, 219);
    cursor: pointer;
}
    


#list1 {
    color: rgb(255, 255, 255);
    transition: 0.5s;
}

#list1:hover {
    color: rgb(128, 128, 219);
    cursor: pointer;
}
    
#h1 {
    color: white;
    display: flex;
    justify-content: center;
    position: relative;
    top: 240px;
}

#h2 {
    color: white;
    display: flex;
    justify-content: center;
    position: relative;
    top: 210px;
    font-size: 18px;
}
    

.p2 {
    color: rgb(188, 188, 188);
    position: relative;
    top: 470px;
    font-size: 13px;
    left: 749px;
}

#p3 {
    margin-left: 6px;
}

#p4 {
    margin-left: 40px;
}

#p1 {
    position: relative;
}
#button1 {
    border-radius: 15px;
    font-size: 11px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 34px;
    padding-right: 29px;
    background-color: white;
    border: none;
    position: relative;
    left: 886px;
    top: 500px;
    transition: 0.5s;
}

#button1:hover {
    background-color: rgb(179, 176, 176);
    cursor: pointer;
}

#p5 {
    color: white;
    font-size: 14px;
    position: relative;
    left: 891px;
    top: 510px;
}

#img1 {
    height: 14px;
    position: relative;
    left: 896px;
    top: 432px;
    border-radius: 3px;
    opacity: 5;
}

#div2 {
    width: 1920px;
    height: 800px;
    background-color: #0B0E16;
    position: relative;
    top: 924px;
    right: 10px;
}

#p6 {
    color: white;
    font-size: 18px;
    position: relative;
    top: 190px;
    left: 200px;
}

#h3 {
    color: white;
    position: relative;
    top: 180px;
    font-size: 25px;
    left: 200px;
}

#p7 {
    color: white;
    position: relative;
    top: 170px;
    left: 200px;
}

#h4 {
    color: gray;
    position: relative;
    top: 120px;
    left: 200px;
}

#img2 {
    position:relative;
    left: 200px;
    bottom: 100px;
}

#h5 {
    color: white;
    position: relative;
    bottom: 680px;
    font-size: 19px;
    left: 1300px;
}

#img3 {
    position: relative;
    bottom: 800px;
    left: 1282px;
}

#p8 {
    position: relative;
    bottom: 765px;
    left: 1300px;
    color: gray;
}

#p9 {
    color: gray;
    position: relative;
    bottom: 755px;
    left: 1300px;
}

#img4 {
    position: relative;
    bottom: 730px;
    left: 1300px;
}

#img5 {
    position: relative;
    bottom: 730px;
    left: 1330px;
}