$primary-color: #232323;
$text-color: #000;
$bg-color: white;
$font-weigths: (
    "thiny": 150,
    "regular": 400,
    "medium": 500,
    "bold": 800
);
$font-size: (
    "regular": 20px
);
$primary-font-family: sans-serif;
$text-color-hover: rgba(0, 0, 0, 0.514);

$card-colo: (
    "first-card":#00732e,
    "second-card":#ff7640,
    "third-card":#003912,
    "fourth-card":#4d1727,
    "fifth-card":#421300,
    "sixth-card":#687200,
    "seventh-card":#be5272,
    "eigth-card":#254200,
    "nineth-card":#8f2900,
    "tenth-card":#687200,
    "eleventh-card":#00732e,
    "tvelth-card":#be5272
)